/* figtree-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Figtree";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/figtree-v8-latin-500.woff2") format("woff2");
}

/* figtree-800 - latin */
@font-face {
  font-display: swap;
  font-family: "Figtree";
  font-style: normal;
  font-weight: 800;
  src: url("./assets/fonts/figtree-v8-latin-800.woff2") format("woff2");
}

/* check the hight to adjust media in footer  */
footer {
  @media (height>35.5rem) {
    position: fixed;
    bottom: 0;
    left: 50%;
    translate: -50%;
  }
}

.attribution {
  font-size: 0.8em;
  color: var(--heading-color);
  margin-top: 1rem;
  padding: 1rem;
}
.attribution a {
  color: var(--attribution-text-color);
}
